## Importando bibliotecas

In [91]:
import pandas as pd
import datetime as dt
#!pip install ipyleaflet
#!jupyter nbextension enable --py --sys-prefix ipyleaflet
#!jupyter labextension install @jupyter-widgets/jupyterlab-manager
#!jupyter labextension install jupyter-leaflet
from ipyleaflet import Map, Marker, basemaps

## *Sciurus carolinensis*

![Esquilo-cinzento](esquilo-cinzento.jpg)
            Acima podemos ver uma foto tirada de um esquilo cinzento no Central Park

## Adquirindo variáveis relevantes

In [2]:
base = pd.read_csv("base_7.csv", delimiter=';')
base[:3]

,long,lat,unique_squirrel_id,hectare,shift,date,hectare_squirrel_number,age,primary_fur_color,highlight_fur_color,...,approaches,indifferent,runs_from,other_interactions,lat_long,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts
0,"-73,95613449","40,79408239",37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086),NaN,19,4,19,13
1,"-73,95704377","40,79485094",37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,True,me,POINT (-73.9570437717691 40.794850940803904),NaN,19,4,19,13
2,"-73,97683118","40,76671781",2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581),NaN,19,4,19,13

In [3]:
date = base['date']
listaDatas = []
for data in date:
    dia = str(data)[2:4]
    mes = str(data)[:2]
    ano = str(data)[4:]
    listaDatas.append(f"{dia}/{mes}/{ano}")

print(listaDatas[:5])
print("Os dados do database foram coletados apenas no mês de agosto, cujo está dentro da alta temporada de visitantes e turistas na cidade.")

['14/10/2018', '06/10/2018', '10/10/2018', '18/10/2018', '18/10/2018']
Os dados do database foram coletados apenas no mês de agosto, cujo está dentro da alta temporada de visitantes e turistas na cidade.

In [4]:
print(f"Colunas do dataframe: {list(base.columns)}")
base.describe()

Colunas do dataframe: ['long', 'lat', 'unique_squirrel_id', 'hectare', 'shift', 'date', 'hectare_squirrel_number', 'age', 'primary_fur_color', 'highlight_fur_color', 'combination_of_primary_and_highlight_color', 'color_notes', 'location', 'above_ground_sighter_measurement', 'specific_location', 'running', 'chasing', 'climbing', 'eating', 'foraging', 'other_activities', 'kuks', 'quaas', 'moans', 'tail_flags', 'tail_twitches', 'approaches', 'indifferent', 'runs_from', 'other_interactions', 'lat_long', 'zip_codes', 'community_districts', 'borough_boundaries', 'city_council_districts', 'police_precincts']

,date,hectare_squirrel_number,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts
count,3.023000e+03,3023.000000,9.000000,3023.000000,3023.0,3023.000000,3023.000000
mean,1.011949e+07,4.123718,11828.222222,18.996030,4.0,19.070460,13.004631
std,4.246671e+04,3.096492,995.983782,0.234339,0.0,1.352253,0.224224
min,1.006202e+07,1.000000,10090.000000,11.000000,4.0,19.000000,10.000000
25%,1.008202e+07,2.000000,12081.000000,19.000000,4.0,19.000000,13.000000
50%,1.012202e+07,3.000000,12420.000000,19.000000,4.0,19.000000,13.000000
75%,1.014202e+07,6.000000,12423.000000,19.000000,4.0,19.000000,13.000000
max,1.020202e+07,23.000000,12423.000000,23.000000,4.0,51.000000,18.000000

In [5]:
countAM = 0
countPM = 0
for obs in base['shift']:
    if obs == "AM":
        countAM +=1
    else:
        countPM += 1
        
print(f"Sessão foi observada {countAM} vezes durante a manhã e {countPM} vezes durante a tarde, notando uma singela maioria de observações realizadas durante a tarde")

Sessão foi observada 1347 vezes durante a manhã e 1676 vezes durante a tarde, notando uma singela maioria de observações realizadas durante a tarde

In [6]:
countYoung = 0
countAdult = 0
for age in base['age']:
    if age == "Adult":
        countAdult +=1
    else:
        countYoung += 1
print(f"O animal observado era da faixa etária Adulto em {countAdult} das observações, enquanto que os Jovens eram {countYoung}")
print(f"Nota-se que a porcentagem de adultos no parque em relação ao número total de observações foi de {((countAdult/3023)*100):.2f} %")

O animal observado era da faixa etária Adulto em 2568 das observações, enquanto que os Jovens eram 455
Nota-se que a porcentagem de adultos no parque em relação ao número total de observações foi de 84.95 %

In [7]:
countGray = 0
countCinnamon = 0
countBlack = 0
for color in base['primary_fur_color']:
    if color == "Gray":
        countGray +=1
    elif color == "Cinnamon":
        countCinnamon += 1
    else:
        countBlack += 1

print(f"A pelagem primária dos animais observados foi de {countGray} vezes a cor cinza, {countCinnamon} vezes da cor canela e {countBlack} da cor preta")
print(f"Logo, {((countGray/3023)*100):.2f} % dos esquilos apresentam a pelagem primária de cor cinza.\n")
print(f"É importante ressaltar que existem esquilos dessa éspecie que apresentam a pelagem preta, uma característica anormal e adquirida com a seleção natural. Os esquilos melanísticos parecem exibir uma tolerância ao frio mais alta do que os de pelagem cinza comum; quando exposto a -10   ° C, os esquilos pretos apresentaram uma redução de 18% na perda de calor, uma redução de 20% na taxa metabólica basal e um aumento de 11% na capacidade de termogênese sem tremores quando comparados aos de pelagem cinza comum. \n")
print(f"A partir de dados coletados, o clima do Central Park em épocas de inverno apresenta uma média de -10 graus Celsius, demonstrando um motivo para a aparição de tais colorações pretas dos esquilos.")

A pelagem primária dos animais observados foi de 2473 vezes a cor cinza, 392 vezes da cor canela e 158 da cor preta
Logo, 81.81 % dos esquilos apresentam a pelagem primária de cor cinza.

É importante ressaltar que existem esquilos dessa éspecie que apresentam a pelagem preta, uma característica anormal e adquirida com a seleção natural. Os esquilos melanísticos parecem exibir uma tolerância ao frio mais alta do que os de pelagem cinza comum; quando exposto a -10   ° C, os esquilos pretos apresentaram uma redução de 18% na perda de calor, uma redução de 20% na taxa metabólica basal e um aumento de 11% na capacidade de termogênese sem tremores quando comparados aos de pelagem cinza comum.

A partir de dados coletados, o clima do Central Park em épocas de inverno apresenta uma média de -10 graus Celsius, demonstrando um motivo para a aparição de tais colorações pretas dos esquilos.

In [8]:
base.loc[base["combination_of_primary_and_highlight_color"] == "Gray+"]

,long,lat,unique_squirrel_id,hectare,shift,date,hectare_squirrel_number,age,primary_fur_color,highlight_fur_color,...,approaches,indifferent,runs_from,other_interactions,lat_long,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts
3,"-73,97572498","40,76970326",5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755),NaN,19,4,19,13
6,"-73,97197356","40,76930451",6G-PM-1020-02,06G,PM,10202018,2,Adult,Gray,NaN,...,False,True,False,NaN,POINT (-73.9719735582476 40.7693045133578),NaN,19,4,19,13
8,"-73,97707186","40,77297524",7B-AM-1008-09,07B,AM,10082018,9,Adult,Gray,NaN,...,False,True,False,NaN,POINT (-73.9770718586754 40.7729752391435),NaN,19,4,19,13
9,"-73,95964139","40,79031289",32E-PM-1017-14,32E,PM,10172018,14,Adult,Gray,NaN,...,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029),NaN,19,4,19,13
12,"-73,95412018","40,79318117",36H-AM-1010-02,36H,AM,10102018,2,Adult,Gray,NaN,...,False,False,False,NaN,POINT (-73.9541201789795 40.7931811701082),NaN,19,4,19,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3010,"-73,96788313","40,7847606",23B-PM-1012-06,23B,PM,10122018,6,Adult,Gray,NaN,...,False,False,False,scolding,POINT (-73.9678831312936 40.7847605974975),NaN,19,4,19,13
3011,"-73,9613702","40,79433632",35B-PM-1013-04,35B,PM,10132018,4,Adult,Gray,NaN,...,False,False,True,runs from (dog),POINT (-73.9613701960898 40.7943363227822),NaN,19,4,19,13
3013,"-73,9665572","40,78043475",19E-PM-1018-04,19E,PM,10182018,4,NaN,Gray,NaN,...,False,True,False,NaN,POINT (-73.9665572004288 40.7804347548303),NaN,19,4,19,13
3015,"-73,97564576","40,77035598",6D-PM-1020-02,06D,PM,10202018,2,Juvenile,Gray,NaN,...,False,False,True,NaN,POINT (-73.9756457597888 40.7703559775625),NaN,19,4,19,13
3018,"-73,96394314","40,79086774",30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466),NaN,19,4,19,13

In [9]:
print("A partir desses dados, nota-se que grande parte dos esquilos observados apresenta mais que uma única cor de pelagem, visto que a quantidade de colunas do filtro é 895")

A partir desses dados, nota-se que grande parte dos esquilos observados apresenta mais que uma única cor de pelagem, visto que a quantidade de colunas do filtro é 895

## Analisando o comportamento dos esquilos com relação a interação com humanos

In [41]:
approachesTotal = base.loc[base["approaches"] == True].count()[0]
approachNotHappy = base.loc[base["approaches"] == True][base["kuks"] == False].count()[0]
approachHappy = base.loc[base["approaches"] == True][base["kuks"] == True].count()[0]
scared = base.loc[base["runs_from"] == True].count()[0]
indifferent = base.loc[base["indifferent"] == True].count()[0]

print(f"{((approachesTotal/3023)*100):.2f} % dos esquilos observados se aproximaram de algum humano em busca de comida.")
print(f"A partir das análises realizadas, apenas {((approachHappy/approachesTotal)*100):.2f} % dos esquilos que se aproximaram de um humano em busca de comida apresentaram um comportamento de felicidade nessa aproximação. Já {((approachNotHappy/approachesTotal)*100):.2f} % dos esquilos apenas se aproximaram dos humanos em busca de comida, sem nenhum tipo de sentimento envolvido. \n")
print(f"{((scared/3023)*100):.2f} % dos esquilos apresentou um comportamento de 'medo' em relação a aproximação de um ser humano. Tal porcentagem é relativamente baixa, visto que a maioria dos animais estão acostumados com a presença de humanos ja que seu habitat é o Central Park, um parque localizado em uma das maiores metrópoles do mundo, além de que {((indifferent/3023)*100):.2f} % dos animais foram indiferentes com relação a presença de um ser humano próximo. \n")

5.89 % dos esquilos observados se aproximaram de algum humano em busca de comida.
A partir das análises realizadas, apenas 2.25 % dos esquilos que se aproximaram de um humano em busca de comida apresentaram um comportamento de felicidade nessa aproximação. Já 97.75 % dos esquilos apenas se aproximaram dos humanos em busca de comida, sem nenhum tipo de sentimento envolvido.

22.43 % dos esquilos apresentou um comportamento de 'medo' em relação a aproximação de um ser humano. Tal porcentagem é relativamente baixa, visto que a maioria dos animais estão acostumados com a presença de humanos ja que seu habitat é o Central Park, um parque localizado em uma das maiores metrópoles do mundo, além de que 48.10 % dos animais foram indiferentes com relação a presença de um ser humano próximo.

<ipython-input-41-8f2f3e8e36e5>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  approachNotHappy = base.loc[base["approaches"] == True][base["kuks"] == False].count()[0]
<ipython-input-41-8f2f3e8e36e5>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  approachHappy = base.loc[base["approaches"] == True][base["kuks"] == True].count()[0]

In [108]:
# Realizando conversões necessárias para inserir latitude e longitude no mapa.
base_food = base.loc[base["approaches"] == True]

listLat = []
for lat in base_food['lat'].str.replace('[A-Za-z]', '').str.replace('.', '').str.replace(',', '.').astype(float):
    listLat.append(float(lat))
    
listLong = []
for long in base_food['long'].str.replace('[A-Za-z]', '').str.replace('.', '').str.replace(',', '.').astype(float):
    listLong.append(float(long))

<ipython-input-108-761d12457d93>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  for lat in base_food['lat'].str.replace('[A-Za-z]', '').str.replace('.', '').str.replace(',', '.').astype(float):
<ipython-input-108-761d12457d93>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  for lat in base_food['lat'].str.replace('[A-Za-z]', '').str.replace('.', '').str.replace(',', '.').astype(float):
<ipython-input-108-761d12457d93>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  for long in base_food['long'].str.replace('[A-Za-z]', '').str.replace('.', '').str.replace(',', '.').astype(float):
<ipython-input-108-761d12457d93>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  for long in base_food['long'].str.replace('[A-Za-z]', '').str.replace('.', '').str.replace(',', '.').astype(float):

## Analisando dados em um mapa

In [107]:
mapa = Map(center=(40.785091, -73.968285),zoom=14, basemap=basemaps.CartoDB.DarkMatter)

counter = 0
for lat in listLat:
    marker = Marker(location=[lat, listLong[counter]], draggable=False)
    mapa.add_layer(marker)
    counter += 1

#Times Square
mapa.add_layer(Marker(location=[40.758896, -73.985130], draggable=False, title="Times Square"))

#Museu de Arte Moderna
mapa.add_layer(Marker(location=[40.761509, -73.978271], draggable=False, title="Museu de Arte Moderna"))

#Empire State Building
mapa.add_layer(Marker(location=[40.748817, -73.985428], draggable=False, title="Empire State Building"))

#Top of the Rock - Rockfeller Building
mapa.add_layer(Marker(location=[40.759060, -73.979431], draggable=False, title="Top of the Rock - Rockfeller building"))

mapa

Map(center=[40.785091, -73.968285], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title'…

Acima pode-se observar que a maioria das aproximações dos esquilos em busca de comida foram realizadas ao sul do Central Park, local que mais se destaca em relação ao número de visitantes devido a sua proximidade com famosos pontos turísticos como a Times Square.

## Bibliografia

* <a href="https://www.biodiversity4all.org/taxa/46017-Sciurus-carolinensis" target="_blank">Esquilo-Cinzento</a> 
    
* <a href="https://pt.wikipedia.org/wiki/Esquilo-cinzento" target="_blank">Esquilo-Cinzento</a>
    
* <a href="https://towardsdatascience.com/trying-out-dask-dataframes-in-python-for-fast-data-analysis-in-parallel-aa960c18a915" target="_blank">Data Analysis</a>

* <a href="https://pt.wikipedia.org/wiki/Predefini%C3%A7%C3%A3o:Tabela_clim%C3%A1tica_de_Nova_Iorque" target="_blank">Dados a respeito do clima de Nova Iorque no Central Park</a>

* <a href="https://www.earthdatascience.org/courses/intro-to-earth-data-science/file-formats/use-text-files/format-text-with-markdown-jupyter-notebook/" target="_blank">Format text in jupyter</a> 

* <a href="https://stackoverflow.com/questions/56315468/replace-comma-and-dot-in-pandas" target="_blank">Replace comma and dot in Pandas</a>